/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

models
scripts/gpt/models
scripts/neural_style/models
scripts/venv
scripts/env
scripts/.venv
scripts/.env
/public/uploads
/public/output
/public/output_image
/public/output_poem

.idea
/public/js/app.js