@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Special+Elite|Questrial|Reenie+Beanie:300,400,500,600,700");


#card .content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
  }

#card .description {
    width: 100%;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 3rem;
  }
#card .card {
    color: inherit;
    cursor: pointer;
    width: calc(33% - 2rem);
    min-width: calc(33% - 2rem);
    height: 400px;
    min-height: 400px;
    perspective: 1000px;
    margin: 1rem;
    position: relative;
  }
  @media screen and (max-width: 800px) {
    #card .card {
      width: calc(50% - 2rem);
    }
  }
  @media screen and (max-width: 500px) {
    #card .card {
      width: 100%;
    }
  }
#card .front, #card .back {
    display: flex;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
    box-sizing: border-box;
    box-shadow: 0 5px 10px #0002;
  }
#card .front {
    background-size: cover;
    padding: 2rem;
    color: #fff;
    overflow: hidden;
  }
#card .front:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg,#845EC2,#FFC75F);
    opacity: 0.25;
    z-index: -1;
  }
#card .card:hover .front {
    transform: rotateY(180deg);
}
#card .card:nth-child(even):hover .front {
    transform: rotateY(-180deg);
  }
#card .back {
  background: linear-gradient(135deg,#845EC2,#FFC75F);
    transform: rotateY(-180deg);
    padding: 0 2em;
    color: #fff;
    font-family: 'Questrial', monospace;
  }
#card .back .button {
    background: linear-gradient(135deg , #9D2E7D, #E16E93);
  }
#card .back .button:before {
    box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
    background-color: rgba(26, 87, 230, 0.25);
  }
#card .card:hover .back {
    transform: rotateY(0deg);
  }
#card .card:nth-child(even) .back {
    transform: rotateY(180deg);
  }
#card .card:nth-child(even) .back .button {
    background: linear-gradient(135deg,#A16BFE,#DEB0DF);
  }
#card .card:nth-child(even) .back .button:before {
    box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
    background-color: rgba(230, 26, 60, 0.25);
  }
#card  .card:nth-child(even):hover .back {
    transform: rotateY(0deg);
  }
  #card .button {
    transform: translateZ(40px);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 100px;
    font-family: 'Major Mono Display', monospace;
    border: none;
    position: relative;
    transform-style: preserve-3d;
    transition: 300ms ease;
  }
#card .button:before {
    transition: 300ms ease;
    position: absolute;
    display: block;
    content: '';
    transform: translateZ(-40px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 100px;
    left: 10px;
    top: 16px;
  }
  #card .button:hover {
    transform: translateZ(55px);
  }
  #card .button:hover:before {
    transform: translateZ(-55px);
  }
  #card .button:active {
    transform: translateZ(20px);
  }
  #card .button:active:before {
    transform: translateZ(-20px);
    top: 12px;
  }