@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url("https://fonts.googleapis.com/css?family=Baumans|Special+Elite|Questrial|Reenie+Beanie:300,400,500,600,700");

*
{
	margin:0; padding:0; box-sizing:border-box;}

html, body {	
	 height: 100%;
}
#artist .container {
	 width: 100%;
	 height: 100%;
	 object-fit: fill;
}
#artist .wrapper {
	 width: 270px;
	 margin: 50px auto;
	 position: Relative;
}
#artist .word {
	 display: block;
	 text-align: justify;
	 font-family: "BenchNine";
	 line-height: 0.8;
	 text-transform: uppercase;
	 letter-spacing: 0px;
}
#artist .word1, .word2 {
	 color: #FFC75F;
}
#artist .word3, .word4 {

	 color:  #d3817b;
}
#artist .word5, .word6 {
	color:  #ffa75f;
}
#artist .word7 {
	color: #fdbd88;
}
#artist .word8, .word9 {

	 color: #e25693;
}
#artist .word10, .word11 {
	 color: #e0737c;
}
#artist .word12, .word13 {
	 color: #f8bad5;
}
#artist .word1 {
	 font-size: 5.3em;
}
#artist .word2 {
	 font-size: 8.1em;
}
#artist .word3 {
	 font-size: 4.8em;
}
#artist .word4 {
	 font-size: 6.4em;
}
#artist .word5 {
	 font-size: 3.8em;
}
#artist .word6 {
	 font-size: 6em;
}
#artist .word7 {
	 font-size: 4.5em;
}
#artist .word8 {
	 font-size: 4.8em;
}
#artist .word9, .word11 {
	 font-size: 7.9em;
}
#artist .word10 {
	 font-size: 4.9em;
}
#artist .word12 {
	 font-size: 8.2em;
}
#artist .word13 {
	 font-size: 7.8em;
}
#artist .bubble1 {
	 height: 75px;
	 width: 75px;
	 padding: 20px;
	 position: absolute;
	 color: white;
	 background-color: #FFC75F;
	 font-family: 'Baumans', cursive;
	 border-top-right-radius: 20px;
	 border-bottom-right-radius: 0;
	 border-bottom-left-radius: 20px;
	 top: 0;
	 left: -100px;
	 padding: 10px;
	 font-size: 1.5em;
	 line-height: 1;
}
#artist .bubble1 span.the-arrow1 {
	 display: inline-block;
	 width: 0;
	 height: 0;
	 border-left: 12px solid transparent;
	 border-right: 0px solid #FFC75F;
	 border-bottom: 12px solid#e7c37f;
	 position: absolute;
	 top: 63px;
	 left: 75px;
	 transform: rotateY(180deg);
}
#artist .bubble2 {
	 height: 150px;
	 width: 170px;
	 padding: 20px;
	 position: absolute;
	 color: white;
	 background-color: #FFC75F;
	 font-family: "Megrim", cursive;
	 border-top-left-radius: 30px;
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 30px;
	 border-bottom-left-radius: 0;
	 left: 100%;
	 top: 20px;
}
#artist .bubble2 span.the-arrow2 {
	 display: inline-block;
	 width: 0;
	 height: 0;
	 border-left: 20px solid transparent;
	 border-right: 0px solid#FFC75F;
	 border-bottom: 20px solid#FFC75F;
	 position: absolute;
	 top: 130px;
	 left: -19px;
}
#artist .bubble2 img {
	 border-top-left-radius: 20px;
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 20px;
	 border-bottom-left-radius: 0;
	 background: white;
	 display: block;
	 width: 100%;
	 height: 100%;
}
#artist .bubble3 {
	 height: 200px;
	 width: 250px;
	 padding: 20px;
	 position: absolute;
	 color: white;
	 background-color:  #d3817b;
	 font-family: "Open Sans Condensed";
	 border-top-left-radius: 30px;
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 30px;
	 border-bottom-left-radius: 0;
	 top: 183px;
	 left: -280px;
}
#artist .bubble3 span.the-arrow3 {
	 display: inline-block;
	 width: 0;
	 height: 0;
	 border-left: 20px solid transparent;
	 border-right: 0px solid #d3817b;
	 border-bottom: 20px solid  #d3817b;
	 position: absolute;
	 top: 0;
	 left: 250px;
	 transform: rotate(180deg);
}
#artist .bubble4 {
	 height: 180px;
	 width: 250px;
	 padding: 20px;
	 position: absolute;
	 color: white;
	 background-color: #ffa75f;
	 font-family: "Open Sans Condensed";
	 border-top-left-radius: 30px;
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 30px;
	 border-bottom-left-radius: 0;
	 top: 260px;
	 left: 280px;
}
#artist#artist .bubble4 span.the-arrow4 {
	 display: inline-block;
	 width: 0;
	 height: 0;
	 border-left: 20px solid transparent;
	 border-right: 0px solid #ffa75f;
	 border-bottom: 20px solid  #ffa75f;
	 position: absolute;
	 top: 160px;
	 left: -19px;
}
#artist .bubble5 {
	 height: 200px;
	 width: 250px;
	 padding: 20px;
	 position: absolute;
	 color: white;
	 background-color: #fdbd88;
	 font-family: "Open Sans Condensed";
	 border-top-left-radius: 30px;
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 30px;
	 border-bottom-left-radius: 0;
	 top: 450px;
	 left: -280px;
}
#artist .bubble5 span.the-arrow5 {
	 display: inline-block;
	 width: 0;
	 height: 0;
	 border-left: 20px solid transparent;
	 border-right: 0px solid #fdbd88;
	 border-bottom: 20px solid #fdbd88;
	 position: absolute;
	 top: 0;
	 left: 250px;
	 transform: rotate(180deg);
}
#artist .bubble6 {
	 height: 180px;
	 width: 250px;
	 padding: 20px;
	 position: absolute;
	 color: white;
	 background-color: #e25693;
	 font-family: "Open Sans Condensed";
	 border-top-left-radius: 0;
	 border-top-right-radius: 30px;
	 border-bottom-right-radius: 0;
	 border-bottom-left-radius: 30px;
	 top: 509px;
	 left: 280px;
	 line-height: 1.8;
}
#artist .bubble6 span.the-arrow6 {
	 display: inline-block;
	 width: 0;
	 height: 0;
	 border-left: 20px solid transparent;
	 border-right: 0px solid #e25693;
	 border-bottom: 20px solid #e25693;
	 position: absolute;
	 top: 0px;
	 left: -19px;
	 transform: rotateX(180deg);
}
#artist .bubble7 {
	 height: 200px;
	 width: 250px;
	 padding: 20px;
	 position: absolute;
	 color: white;
	 background-color: #da646e;
	 font-family: "Open Sans Condensed";
	 border-top-left-radius: 30px;
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 30px;
	 border-bottom-left-radius: 0;
	 top: 675px;
	 left: -280px;
}
#artist .bubble7 span.the-arrow7 {
	 display: inline-block;
	 width: 0;
	 height: 0;
	 border-left: 20px solid transparent;
	 border-right: 0px solid #da646e;
	 border-bottom: 20px solid #da646e;
	 position: absolute;
	 top: 0;
	 left: 250px;
	 transform: rotate(180deg);
}
#artist .bubble8 {
	 height: 180px;
	 width: 250px;
	 padding: 20px;
	 position: absolute;
	 color: white;
	 background-color: #f8bad5;
	 font-family: "Open Sans Condensed";
	 border-top-left-radius: 30px;
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 30px;
	 border-bottom-left-radius: 0;
	 top: 853px;
	 left: 280px;
}
#artist .bubble8 span.the-arrow8 {
	 display: inline-block;
	 width: 0;
	 height: 0;
	 border-left: 20px solid transparent;
	 border-right: 0px solid #f8bad5;
	 border-bottom: 20px solid #f8bad5;
	 position: absolute;
	 top: 160px;
	 left: -19px;
}
 