@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url("https://fonts.googleapis.com/css?family=Baumans|Special+Elite|Questrial|Reenie+Beanie:300,400,500,600,700");

*
{
	margin:0; padding:0; box-sizing:border-box;}

html, body {	
	 height: 100%;
	 
}

.container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	 grid-template-rows: 1fr 1fr;
	 grid-template-areas:
		 "box1 box2"
		 "box1 box3";
}

.box1{
	grid-area: box1;
	
}
.box1 img{
	position: fixed;
}
.box2{
	grid-area: box2;

}
.box3{
	grid-area: box3;
	align-items: center;
}
